
    <div class = "container" style="text-align:justify-all;">
       
        <!--
    <h1 style ="text-align:center; font-family:verdana ;font-size:35px ;background-color: burlywood;" >
        {{title}}
    </h1>
    -->
    </div>
    <div class="container">
    <div class="col-md-6 col-md-offset-3 loginBox"> 
        Welcome,  {{id}}    
      <a href="javascript:void(0);" (click)="logout()">Logout</a>    
    </div>   
    <div > 
  
   <app-menus [myarr]='menus'></app-menus>

    </div>
    <hr>
    <app-message ></app-message>
   
    <router-outlet></router-outlet>
   
  
</div>