
<mat-toolbar [color]="matbarcolor"   >
    <mat-toolbar-row>
    <span >SNC Management System</span>
</mat-toolbar-row>
                    
<mat-toolbar-row>

<span *ngFor="let item of myarr" >  
          <span *ngIf ="item.children && item.children.length>0">    
             <button mat-button [matMenuTriggerFor]= "menu.childMenu"   [routerLink]="item.route"      >{{item.displayname}}
            </button>
           
             <app-menu-item #menu [items] = "item.children" ></app-menu-item>
           
             </span>

             <span *ngIf="!item.children || item.children.length === 0" [routerLink]="item.route" >
                <button mat-button color="red" >
                  {{item.displayname}}
                </button>
              </span>
    </span>    
        

</mat-toolbar-row>
</mat-toolbar> 
